@use "../abstracts/mixins" as *;
@use "../abstracts/variables" as *;

.container {
  @include container;
}

.project-grid {
  display: grid;
  gap: 2.5rem;

  @media (min-width: $breakpoint-md) {
    grid-template-columns: repeat(2, 1fr);
    gap: 3rem;
  }
}
